h3{
    margin-left: 145px;
}
.b1{
    margin-left: 145px;
    height: 30px;
    background-color: red;
    font-size: 12px;
    color: white;
}
.b2{
    margin-left: 10px;
    height: 30px;
    background-color: red;
    font-size: 12px;
    color: white;
}